@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Trykker&display=swap");

/* global styles */
body {
  margin: 0;
  background-color: #191919;
  font-family: "Trykker", serif;
}
